<!--Action = Route, is "profile" correct? -->
<% if (tracks) { %> <% tracks.forEach(track => { %>

        <h4>Name: <%= track.name %></h4>
        <h4>Artist: <%= track.album.artists[0].name %></h4>
        <h4>Preview: <%= track.preview_url %> </h4>
        <form method="GET" action="/profile">
          <input hidden type="text" name="songId" value="<%= track.id %>">
          <input hidden type="text" name="title" value="<%= track.name %>">
          <input hidden type="text" name="artist" value="<%= track.album.artists[0].name %>">
          <input hidden type="text" name="preview_url" value="<%= track.preview_url %>">
          <button class="btn btn-primary" type="submit">Add to Favorite Songs</button>
        </form>
    <% }) %>
<% } else {%>
<h4>No Results Matching Your Search</h4>
<% } %>
